<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Frisbee</title>
</head>
<body>
<nav>
	<a href="/"><img src="/images/frisbee.svg" onerror="this.onerror=null,this.src="/images/frisbee.png""/></a>
	<a href="/">- Windmill -</a>
	<a href="/admin"><img src="/images/login.svg" onerror="this.onerror=null,this.src="/images/login.png""/></a>
</nav>
