<%- include ./part/header.ejs %>

<h1>Development</h1>

<div id="score">
	<div>
		<button>+1</button>
		<button>no</button>
	</div>
	<p></p>
	<p>-</p>
	<p></p>
	<div>
		<button>+1</button>
		<button>no</button>
	</div>
</div>

<button class="done">Done</button>

<form class="hide" method="POST" action="main/test/">
	<h2>Final score</h2>
	<input type="text" name="scoreA" value="">
	<input type="text" name="scoreB" value="">
	<button type="submit" name="submit">Submit</button>
</form>

<%- include ./part/footer.ejs %>
