body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#score {
	display: flex;
}

#score p {
	padding: .1em;
	font-size: 2em;
}

#score div {
	margin: 2em;
	display: flex;
	flex-direction: column;
}

.hide {
	display: none;
}
